html, body, div {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: middle;
    background-color: floralwhite;
}

.timer-box {

    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    text-align: left;
    position: relative;
    transition: .9s; /* Add transition for smooth color change */
    border: 2px solid transparent; /* Initialize border to be transparent */
    color: transparent; /* Make the text color transparent */
    background-image: linear-gradient(45deg, #F8CA00, #E97F02, #BD1550, #F8CA00);
    background-size: 200% 200%; /* Large background size to allow for the animation */
    background-clip: text;
    -webkit-background-clip: text; /* For WebKit browsers */
    animation: gradient-shift 5s ease infinite; /* Define the animation */
}

/* Define the keyframes for the gradient animation */
@keyframes gradient-shift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.main-content {
    display: flex;
    flex-direction: column; /* Stack children (grid and buttons) vertically */
    justify-content: center; /* Center children vertically in the container */
    align-items: center; /* Center children horizontally in the container */
    height: 100vh;
    margin-left: 140px; /* Adjust this value to match the width of your sidebar */
    box-sizing: border-box;
    padding: 20px; /* Optional: Adjust padding to create some space around the content */
}

#SudokuGrid {
    max-width: 500px; /* Your desired max width */
    width: 100%; /* Will resize responsively */
    aspect-ratio: 1; /* Keep the grid square */
    border: 4px solid black;
    border-collapse: collapse;
    background-color: white;
}

#OutcomeText {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    color: black;
    text-align: center;
    width: calc(100% - 140px); /* Subtract the width of the sidebar */
    margin: 0;
    padding: 10px 0; /* Adjust vertical padding as needed */
    order: -1; /* Ensure the outcome text is placed above the Sudoku grid */
}

.header {
    display: flex; /* Establish a flex container */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Align children to the start of the main axis */
    align-items: center; /* Horizontally center the children on the cross axis */
    position: fixed;
    height: 100vh; /* Full height of the viewport */
    width: 140px; /* Adjust the width as needed */
    background: black;
    color: white;
    box-sizing: border-box;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the buttons vertically */
    height: 100%; /* Take the full height of the header */
    width: 100%; /* Match the width of the header */
    align-items: center;
    background-color: black;
}

.header .button-container {
    width: 100%; /* Full width of the container to center content */
    display: flex;
    justify-content: center;
    align-items: center; /* This will vertically center the text in the buttons */
    padding: 10px 0; /* This padding is for the top and bottom inside the button container */
}

.header .button-container:not(:last-child) {
    margin-bottom: 5px; /* Adjust this to control the space between the buttons */
}

.header .button-container:last-child {
    margin-bottom: 0; /* Ensure there is no margin at the bottom of the last button container */
}

.header .header-button {
    width: 60%; /* Make button container fill the header */
    padding-left: 10px;
    margin-bottom: 2px;
    padding: 0px;
    background-color: black;
}

.header .header-button .button-common {
    width: auto;
    font-size: 15px;
}

header-top,
header-bottom {
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 26.99px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

header-top {
    font-size: 26px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    padding-top: 20px; /* Optional space from the top */
}

header-bottom {
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    width: 100%;
    font-weight: 400;
    padding-bottom: 50%;
}

td {
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}

input[type="text"] {
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    font-size: 30px;
    color: #FF7F50;
    outline: none;
}

    input[type="text"]:hover {
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2); /* Horizontal offset, vertical offset, blur radius, and color */
    }

    input[type="text"]:focus {
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3); /* Adjust the color or size as needed */
    }

.unit {
    border-right: 2px solid black;
}

.unit_border {
    border-right: 4px solid black;
}

.column {
    border-bottom: 2px solid black;
}

.column_border {
    border-bottom: 4px solid black;
}

.wrapper {
    text-align: center;
}

.push {
    margin-bottom: 50%
}

.clear {
    clear: both;
}

.button-container {
    display: flex;
    justify-content: center; /* Center buttons horizontally */
    flex-wrap: wrap; /* Allow the buttons to wrap onto the next line if needed */
    gap: 20px; /* Provide some space between buttons if they wrap */
    width: 100%; /* Full width of the container to center content */
    padding: 10px; /* Padding to ensure content doesn't touch the sides */
}


/* Base styles for all buttons */
.button-common {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 17px;
    color: #ffffff;
    padding: 5px 18px; /* Adjust padding to fit content */
    background-color: black;
    border: none; /* No border */
    border-radius: 10px; /* Rounded corners */
    cursor: pointer;
    display: inline-flex; /* Use flexbox for proper alignment */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    margin: 0; /* Space out buttons */
    text-align: center; /* Ensure text is centered within the button */
    white-space: nowrap; /* Prevent text from wrapping */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Box shadow for depth */
    transition: background-color 0.3s, box-shadow 0.3s; /* Transition for smooth hover effect */
}

    .button-common:hover {
        background-color: #333333; /* Darker shade on hover */
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Larger shadow on hover */
    }

    .button-common:active {
        background-color: #555555; /* Even darker on click */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Smaller shadow on click */
        position: relative;
        top: 2px; /* Simulate button press */
    }

/* Specific styles for the start timer button if needed */
.timer-button {
    background-color: black;
    color: white;
    padding: 1px 20px; /* Reduced padding */
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px; /* Reduced font size */
    cursor: pointer;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 150px; /* Reduced minimum width */
    max-width: 150px; /* Reduced maximum width */
    height: 30px; /* Reduced height */
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
}

/* Icon spacing */
.button-common i {
    margin-right: 8px; /* Add some space between the icon and text */
}

a, a:link, a:visited, a:hover, a:active {
    color: floralwhite; /* Set your preferred color here */
    text-decoration: none; /* Optional: removes underline from links */
}